<div class="row">
  <div class="col-sm-12">
    <!--<h3>Filter places</h3>-->
    <!--<input type="text" placeholder="enter keyword" [formControl]="keywordInput">-->
    <div class="form-group">
      <label>Enter address</label>
      <!--<input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>-->
      <input type="text" placeholder="Search location" [formControl]="keywordInput">
    </div>
  </div>
</div>
